<div class="main">
  <div class="container function_show" style="background-image: url(<%= @bg.inspect %>);">
    <%# <div class="underlay"></div> %>

    <div class="function_content">
      <h1><%= @function.topic %></h1>

      <h2>This Function takes place on: <%= @function.time.strftime("%m/%d/%Y") %> at <%= @function.time.strftime("%I:%M%p") %> </h2>
      <br><br>
      <h3>Goals:</h3>
      <h3> <%= @function.goals %></h3>
      <br><br>
      <h4>Capacity: <%= @function.users.count %> / <%= @function.capacity %></h4>
      <br><br>
      <h5><%= link_to @function.location.name, location_path(@function.location) %></h5>


      <br>
      <% @function.users.each do |user| %>
          <div class="function_user_img">
            <img src="<%= user.photo %>" alt="<%=user.username%>">
          </div>
          <p><%= link_to user.username, user_path(user) %></p>
      <% end %>
    </div>
  </div>
</div>
