<div class="main">
  <div class="container">
    <div class="languages_image">
      <div class="img_resize">
      <%= image_tag asset_path("#{@language.img_url}") %>

        <h4><%= @language.name.capitalize %></h4>
      </div>
  </div>

  <div class="lang_description">
    <%= "Join #{pluralize(@language.number_of_users, 'user')}, studying this language! Head over to our " %><%= link_to "functions", functions_path %><%= " page to see how you can get involved." %>
    <br>
    <br>
    <%=  "#{@language.name.capitalize} has had " %><%= link_to "hashouts", locations_path %><%= " in #{pluralize(@language.number_of_locations, 'location')}." %>
    </div>


    <div class="lang_description">
      <h4> <%= @language.name.capitalize %> Description</h4>
    Language Description:
    <%= @language.description %>
    </div>
    <div class="lang_description lang_description_small">
      Language Creator: <em><%= @language.creator %></em>
    </div>


    <div class="lang_description">
      <%= link_to "Go Back", languages_path %>
    </div>
  </div>
</div>
