<div class="main">
  <% if flash[:authorized] %>
    <div class="alert alert-dismissible alert-warning">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <h4 class="alert-heading">Warning!</h4>
      <p class="mb-0"><%= flash[:authorized]%><a href="#" class="alert-link">vel scelerisque nisl consectetur et</a>.</p>
    </div>
  <% end %>

  <div class="user_show container">

    <div class="user_show_img_holder">
      <img src="<%= @user.photo %>" alt="user_image">
    </div>
    <div class="user_basic">
      <h2>#<%= @user.username %></h2>
      <h3><%= @user.full_name %></h3>
      <p>{ <%= "Member Since #{@user.created_at.month}/#{@user.created_at.year}" %> }</p>
    </div>
    <div class="user_social">
      <a href="<%= @user.facebook_url %>" target="_blank"><i class="fab fa-facebook"></i></a>

      <a href="<%= @user.twitter_url%>" target="_blank"><i class="fab fa-twitter"></i></a>

      <a href="<%= @user.github_url %>" target="_blank"><i class="fab fa-github"></i></a>

      <a href="<%= @user.website %>" target="_blank"><i class="fas fa-link"></i></a>
    </div>
    <div class="user_bio">
      <h4>Experience:</h4>
      <p><%= @user.experience %></p>
      <h4>Bio:</h4>
      <p><%= @user.bio %></p>
      <h4>Languages:</h4>
      <div class="languages_images">
          <% @user.languages.each do |l| %>
            <div class="img_resize">
              <a href="<%= language_path(l)%>">
                <img src="<%= l.img_url %>" alt="<%= l.name %>">
              </a>
            </div>
          <% end %>
      </div>
    </div>

    <div class="button-group user_buttons">
      <%= link_to "Edit Profile", edit_user_path(@user), class: "btn btn-primary" %>

      <%= link_to "Delete Account", user_path(@user), method: :delete, class: "btn btn-danger", data: {confirm: "Are you sure?"} %>
    </div>
  </div>
</div>
