<!DOCTYPE html>
<html>
  <head>
    <title>Module2GroupProjectHashout</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="https://bootswatch.com/4/materia/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Encode+Sans+Expanded" rel="stylesheet">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css" />
  </head>

  <body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <%= link_to "HashOut", home_path, class:"navbar-brand" %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="nav navbar-nav mr-auto">
          <li class="nav-item <%= request.path == functions_path ? "active" : "" %>">
            <%= link_to "Functions", functions_path, class: "nav-link" %>
          </li>
          <li class="nav-item <%= request.path == locations_path ? "active" : "" %>">
            <%= link_to "Locations", locations_path, class: "nav-link" %>
          </li>
          <li class="nav-item <%= request.path == languages_path ? "active" : "" %>">
            <%= link_to "Languages", languages_path, class: "nav-link" %>
          </li>
          <li class="nav-item <%= request.path == about_path ? "active" : "" %>">
            <a class="nav-link" href="#">About</a>
          </li>
        </ul>
        <ul class="nav navbar-nav">
          <% if session[:user_id] != nil %>
            <li class="nav-item dropdown">
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <%= link_to "View Profile", user_path(User.find(session[:user_id])), class: "dropdown-item" %>
                <%= link_to "Edit Profile", edit_user_path(User.find(session[:user_id])), class: "dropdown-item" %>
                <%= link_to "Log out", logout_path, method: "post", class: "dropdown-item" %>
                <%# <div class="dropdown-divider"></div> %>
              </div>
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <div class="logged_in_img">
                  <img src="<%= User.find(session[:user_id]).photo%>" alt="<%=User.find(session[:user_id]).username%>">
                </div>
              </a>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to register_path, class: "nav-link" do %>
                <i class="fas fa-user"> </i>
                Sign Up
              <% end %>
            </li>
            <li class="nav-item ml-1">
              <%= link_to login_path, class: "nav-link" do  %>
                <i class="fas fa-sign-in-alt"> </i>
                Log in
              <% end %>
            </li>
          <% end %>
        </ul>
        <%# <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search">
          <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </form> %>
      </div>
    </nav>
      <%= yield %>

    <footer class="footer-bottom">
      <div class="container">
				<div class="row">
					<div class="col-sm-6 ">
						<div class="copyright-text">
							<p>CopyRight © 2018 SUP</p>
						</div>
					</div> <!-- End Col -->
					<div class="col-sm-6">
						<ul class="social-link pull-right">
							<li><a href=""><span class="glyphicon glyphicon-heart-empty"></span></a></li>
							<li><a href=""><span class="glyphicon glyphicon-heart-empty"></span></a></li>
							<li><a href=""><span class="glyphicon glyphicon-heart-empty"></span></a></li>
							<li><a href=""><span class="glyphicon glyphicon-heart-empty"></span></a></li>
							<li><a href=""><span class="glyphicon glyphicon-heart-empty"></span></a></li>
						</ul>
					</div> <!-- End Col -->
				</div>
			</div>
    </footer>
  </body>
</html>
